<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />

<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>

  <nav class="navHeader" id="dynamicHeader"></nav>

  <header>
  </header>

  <div class="titleWrapper">
<fieldset class="titleFieldset">
      <legend>404 Not Found</legend>
		<div style="text-align:center;">
    <img id="image" src="" width="404">
    <script src="/.static/js/404.js"></script>
</div>
    </fieldset>
<fieldset class="titleFieldset">
<p>Hikari-san could not find your file! Did you expect something? Email me: <a href="mailto:syrno@hikari3.ch">syrno@hikari3.ch</a>
</p>
    </fieldset>
  </div>
  <footer id="dynamicFooter"></footer>
  </div>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>

</html>
