<!DOCTYPE html>
<html>
<head>
<title>404!</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/.static/css/global.css" type="text/css" rel="stylesheet" />
<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>
	<div class="topHeader">
		<div id="topHeader"></div>
		</div>
		<nav class="navHeader" id="dynamicHeader"></nav>
		<div class="site-container">
		<div class="sidebar-wrapper">
		<div class="sidebar-wrapper-ontop">
		<div class="navigation-sidebar">
		<div class="navHeader" id="dynamicSidebar"></div>
		</div>
		</div>
		</div>
		<div class="mobileHide">
		<div class="static-wrapper">
		<div class="titleWrapper" id="indexWrapper">
		<div id="page-content">
			<div style="width: 600px; margin: 0 auto;">
				<fieldset class="box-min">
				  <div class="box-min-title">404 Not Found</div>
				  <div class="box-content">
				  <div style="width: 100%; text-align: center;">
				  <img id="image" src="" width="404">
				  <script src="/.static/js/404.js"></script>
				  <hr>
				  <p>Hikari-chan could not find your file! Did you expect something? Email me: <a href="mailto:syrno@hikari3.ch">syrno@hikari3.ch</a></p>
				  </div>
				  </div>
				</fieldset>
			</div>
		</div>
		</div>
		</div>
		<footer id="dynamicFooter"></footer>
</body>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/jquery.min.js"></script>
<script src="/.static/js/activeThreads.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/multiboardMenu.js"></script>

</html>