<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />

<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>
  <div class="titleWrapper">

    <div class="breadcrumb">
      <h2>
        <a href="/account.js">Account</a> &gt;
        <a href="/globalManagement.js">Global Management</a> &gt;
        User Accounts
      </h2> 
    </div>

    <fieldset class="titleFieldset">

      <legend>Accounts</legend>
      <form
        action="/addAccount.js"
        method="post"
        enctype="multipart/form-data">

        <h3>Add account</h3>

        <label>
          <input
            type="text"
            id="fieldLogin"
            name="login"
            class="addAccountField"
            placeholder="login">

        </label>

        <label>
          <input
            type="text"
            id="fieldEmail"
            class="addAccountField"
            name="email"
            autocomplete="none"
            placeholder="e-mail">
        </label>

        <label>
          <input
            type="password"
            id="fieldPassword"
            class="addAccountField"
            name="password"
            placeholder="password">
        </label>

        <button
          id="addAccountFormButton"
          type="submit">Add Account</button>

      </form>
      <hr>
      <h3>Existing Accounts</h3>
      <div
        id="divAccounts"
        class="linkList"></div>

    </fieldset>
  </div>
</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/accounts.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>

</html>
