<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />

<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>

  <nav class="navHeader" id="dynamicHeaderBoard"></nav>

  <header class="boardHeader">
    <img id="bannerImage" />
	<p><h1 id="labelName">Catalog of <a href="." id="labelBoard"></a></h1>
  </header></p>


  <div id="postingForm">
    <button
      id="togglePosting"
      class="hidden">Submit a Thread</button>
    <fieldset id="newPostFieldset" class="boardFieldset">
      <legend><label for="newPostFieldHide">Mode: Thread</label></legend>
      <input type="checkbox" id="newPostFieldHide" class="hidden" />

      <form
        action="/newThread.js"
        enctype="multipart/form-data"
        method="post">

        <div id="postingFormContents"></div>

        <p class="small">
	  Before posting, make sure to read the
          <a href="rules.html"
            class="localPageLink">rules</a>
        </p>

        <input type="submit" id="formButton" value="Post">

      </form>

    </fieldset>

  </div>

  <div id="dynamicAnnouncement"></div>
  <hr>

  <div id="catalogWrapper">
    <div id="divTools">

	  <div class="innerUtility">
        <a href="./#">Index</a>
        <a id="archiveLinkBoard">Archive</a>
        <a class="navButton" href="#footer">Bottom</a>
	  </div>

      <button id="catalogRefreshButton" class="catalogLabel">
        Refresh
      </button>
      <label class="catalogLabel">
        <input type="checkbox" id="autoCatalogRefreshCheckBox">
        Auto
        <span id="catalogRefreshLabel"></span>
      </label>

      <div style="float: right; margin-top: 6px;">
      	<span class="catalogLabel">Search:  </span>
      	<input
      	  type="text"
      	  id="catalogSearchField">
      </div>

    </div>

    <div
      id="divThreads"
      class="catalogDiv"></div>
  </div>
  <footer id="dynamicFooterAlt"></footer>

  <div id="catalog-cell-template" class="hidden"></div>

</body>

<script src="/.static/js/crypto.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/board.js"></script>
<script src="/.static/js/postCommon.js"></script>
<script src="/.static/js/captchaUtils.js"></script>
<script src="/.static/js/catalog.js"></script>
<script src="/.static/js/catalogSorting.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/bypassUtils.js"></script>
<script src="/.static/js/multiboardMenu.js"></script>

</html>
