<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />

<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>
<nav class="navHeader" id="dynamicHeader"></nav>
<div class="page-wrapper">
<div class="sidebar-wrapper">
<div class="sidebar-wrapper-ontop">
<div class="navigation-sidebar">
<div class="navHeader" id="dynamicSidebarBoard"></div>
</div>
</div>
</div>
</div>
</div>
<div class="content-wrapper">
<div id="page-content">

  <header class="boardHeader">
    <img id="bannerImage" />
	<p><h1 id="labelName">Catalog of <a href="." id="labelBoard"></a></h1>
  </header></p>
  <hr>
<div class="haImage2">
<a href="https://a.jlist.com/moe.php?id=3017_1_1_3" target="_blank" rel="nofollow"><img src="https://a.jlist.com/media/banners/general--wide.jpg" alt="Visit J-List - Your Favorite Online Shop and Friend in Japan" id="haImage2"></a>
</div>
<hr>
  <div class="haImage">
	<a href="#" id="haContainer">
		<img src="#" class="haImage" id="haImage">
	</a>
  </div>
  <div id="dynamicAnnouncement"></div>
  <hr>

  <div id="catalogWrapper">
  <a id="togglePosting"></a>
    <div id="divTools">

	  <div class="innerUtility">
        <a href="./#">Index</a>
        <a class="navButton" href="#footer">Bottom</a>
	  </div>

      <button id="catalogRefreshButton" class="catalogLabel">
        Refresh
      </button>
      <label class="catalogLabel">
        <input type="checkbox" id="autoCatalogRefreshCheckBox">
        Auto
        <span id="catalogRefreshLabel"></span>
      </label>

      <div style="float: right; margin-top: 6px;">
      	<span class="catalogLabel">Search:  </span>
      	<input
      	  type="text"
      	  id="catalogSearchField">
      </div>

    </div>

    <div
      id="divThreads"
      class="catalogDiv"></div>
  </div>
</div>
  <footer id="dynamicFooterAlt"></footer>
</div>
  <div id="catalog-cell-template" class="hidden"></div>

</body>
<script src="/.static/js/song.js"></script>
<script src="/.static/js/banner.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/board.js"></script>
<script src="/.static/js/postCommon.js"></script>
<script src="/.static/js/captchaUtils.js"></script>
<script src="/.static/js/catalog.js"></script>
<script src="/.static/js/catalogSorting.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/bypassUtils.js"></script>
<script src="/.static/js/multiboardMenu.js"></script>

</html>
