<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />

<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>

  <nav class="navHeader" id="dynamicHeader"></nav>

  <header>
  </header>

  <div class="titleWrapper">

    <fieldset class="titleFieldset">

      <legend>Closed Reports</legend>

      <div id="reportDiv"></div>

    </fieldset>

  </div>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/ruffle/ruffle.js" defer></script>

</html>
