<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />

<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>

  <div class="titleWrapper">

    <fieldset class="titleFieldset">

      <legend>Graphs</legend>

      <form
        method="get"
        action="graphs.js">

        <label>
          Year:
          <input
            type="text"
            name="year"
            placeholder="YYYY">
        </label>

        <input
          type="submit"
          value="Search">

      </form>

      <hr />

      <div
        id="divDates"
        class="linkList"></div>

    </fieldset>

  </div>
  <footer id="dynamicFooter"></footer>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>

</html>
