<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="hikari3.ch" property="og:title" />
<meta content="A very comfy imageboard for people that like to take it easy. To get started, read the rules, then read the FAQ. After that, you can start posting!" property="og:description" />
<meta content="https://hikari3.ch" property="og:url" />
<meta content="/.static/masco.gif" property="og:image" />
<meta content="#82cece" data-react-helmet="true" name="theme-color" />
<link href="/.static/css/global.css" type="text/css" rel="stylesheet" />
<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<style>
    #toggle {
      visibility: hidden;
	  margin: 0
    }
</style>
<body>
<nav class="navHeader" id="dynamicHeader"></nav>
<div class="page-wrapper">
<div class="sidebar-wrapper">
<div class="sidebar-wrapper-ontop">
<div class="navigation-sidebar">
<div class="navHeader" id="dynamicSidebar"></div>
</div>
</div>
</div>
</div>
</div>
<div class="mobileHide">
<div class="content-wrapper" style="margin-left: 225px;">
<div class="titleWrapper" id="indexWrapper">
<div id="page-content">
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin: 0 auto;">
    <div style="display: flex; flex-direction: row; align-items: flex-start; width: 100%">
	  <div style="flex: 0; width: 100%; margin-right: 10px;">
	  <div style="flex: 1; margin-bottom: 10px;">
	  <div class="box-content">
        <div style="width: 100%; text-align: left;">
		<img src="/.static/masco.gif" width="190">
		<em><p id="quote">"Three times the comfy!"</p></em>
		<p class="small"><a href="/news"><u>News</u></a> | <a href="/faq"><u>FAQ</u></a> | <a href="/rules"><u>Rules</u></a> | <a href="/links"><u>Friends</u></a> | <a href="/irc"><u>Chats</u></a></p>
		<p class="small"><a href="/legal"><u>Legal</u></a> | <a href="/contact"><u>Contact</u></a> | <a href="/advertise"><u>Advertise</u></a></p>
		</div>
		</div>
	  </div>
    </div>
    <div style="flex: 1;">
	  <div  style="flex: 1; margin-bottom: 10px;">
	  <div class="box-min-title3">Home</div>
		<div class="box-content">
		<em><p>Welcome to hikari3.ch!</p></em>
		<p>A very comfy imageboard for people that like to take it easy. To get started, read the rules, then read the FAQ. After that, you can start posting!</p>
		</div>
	  <div class="box-min-title3" style="margin-top: 15px">Boards</div>
		<div class="box-content">
		<div class="container">
		<div class="column">
        <p><em><u>Interests:</u></em></p>
        <p><a href="/jp/">Otaku Culture</a></p>
        <p><a href="/t/">Technology</a></p>
        <p><a href="/v/">Video Games</a></p>
    </div>
    <div class="column">
        <p><em><u>Other:</u></em></p>
        <p><a href="/en/">General</a></p>
        <p><a href="/h3/">hikari3 Discussion</a></p>
    </div>
    <div class="column">
        <p><em><u>Misc:</u></em></p>
		<p><a href="/f/">Flash</a></p>
        <p><a href="/i/">Oekaki</a></p>
    </div>
    </div>
		</div>
      </div>
	  <hr>
	  <div  style="flex: 1; margin-bottom: 5px">
		<div class="box-content">
		<strong>Current News: <a href="/news">MORE UPDATES by syrno - 12/21/23 @ 11:53 PM (UTC)</a></strong>
		</div>
      </div>
	  <hr>
	  <div style="flex: 1;">
	  <div class="haImage">
		<a href="/v/" id="haContainer">
			<img src="/.static/banners/Hikari_V2.gif" class="haImage" id="haImage">
		</a>
	  </div>
      </div>
	  </div>
  </div>
</div>
<div id="mainContainer" style="display: flex; flex-direction: row; flex-wrap: wrap; margin: 0 auto; display: none;">
    <div style="display: flex; flex-direction: row; align-items: flex-start; width: 100%">
        <div style="flex: 0.25; width: 100%; margin-right: 10px;">
            <div style="flex: 1; margin-bottom: 10px;">
                <div class="box-min-title3">Latest Posts <input type="checkbox" id="toggle"></div>
                <div class="box-content2">
				<div class="homePosts">
                    <div id="latestPosts" style="width: 185px;overflow-x: hidden;"></div>
                </div>
                </div>
            </div>
        </div>
        <div style="flex: 1;">
            <div style="flex: 1;">
                <div style="margin-bottom: 10px">
                    <div class="box-min-title3">Active Threads</div>
                    <div id="threads-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>

  <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin: 0 auto;">
    <div style="display: flex; flex-direction: row; align-items: flex-start; width: 100%">
	  <div style="flex: 0.25; width: 100%; margin-right: 10px;">
	  <div  style="flex: 1; margin-bottom: 10px;">
	  <div class="box-min-title3">Site Statistics</div>
	  <div class="box-content2">
      <p><span>Media files stored: <span id="labelTotalFiles"></span></p>
      <p><span>Media size: <span id="labelTotalSize"></span></p>
	  <p><span>Total posts: <span id="labelTotalPosts"></span></p>
	  </div>
	  </div>
    </div>
    <div style="flex: 1;">
	  <div style="flex: 1;">
	  <div>
	  <div class="box-min-title3">Recent Images</div>
	  <div id="divLatestImages"></div>
      </div>
      </div>
	  </div>
  </div>
</div>

</div>
</div>
<footer id="dynamicFooter"></div>
</div>

<div class="mobileShow">
	  <fieldset class="box-min" style="margin-bottom: 10px; margin-top: 10px;">
	  <div class="box-min-title">Home</div>
	  <div class="box-content3">
		<p><em>Welcome to hikari3.ch!</em></p>
        <div style="width: 100%; text-align: center;">
		<img src="/.static/masco.gif" width="200">
		<em><p id="quote" style="margin-bottom: 15px;">"Love palace~"</p></em>
		</div>
		<hr>
		<p>A very comfy imageboard for people that like to take it easy. To get started, read the rules, then read the FAQ. After that, you can start posting!</p>
		</div>
	  </fieldset>
		<div style="text-align: center; margin-bottom: 10px">
		<p class="small"><a href="/news"><u>News</u></a> | <a href="/faq"><u>FAQ</u></a> | <a href="/rules"><u>Rules</u></a> | <a href="/links"><u>Friends</u></a> | <a href="/irc"><u>Chats</u></a> | <a href="/legal"><u>Legal</u></a> | <a href="/contact"><u>Contact</u></a> | <a href="/advertise"><u>Advertise</u></a></p>
		</div>
	  <fieldset class="box-min">
        <div class="box-min-title">Boards</div>
		<div class="box-content">
		<div class="container">
		<div class="column">
        <p><em><u>Interests:</u></em></p>
        <p><a href="/jp/">Otaku Culture</a></p>
        <p><a href="/t/">Technology</a></p>
        <p><a href="/v/">Video Games</a></p>
    </div>
    <div class="column">
        <p><em><u>Other:</u></em></p>
        <p><a href="/en/">General</a></p>
        <p><a href="/h3/">hikari3 Discussion</a></p>
    </div>
    <div class="column">
        <p><em><u>Misc:</u></em></p>
		<p><a href="/f/">Flash</a></p>
        <p><a href="/i/">Oekaki</a></p>
    </div>
    </div>
		</div>
      </fieldset>

      <fieldset class="box-min" style="margin-bottom: 10px; margin-top: 10px;">
        <div class="box-min-title">Active Threads</div>
        <div id="mobile-threads"></div>
      </fieldset>
      <fieldset class="box-min" style="margin-bottom: 10px; margin-top: 10px;">
        <div class="box-min-title">Recent Images</div>
		<div id="mobileImages">
      </fieldset>
      <fieldset class="box-min" style="margin-bottom: 10px; margin-top: 10px;">
        <div class="box-min-title">Latest Posts</div>
        <div id="divLatestPosts"></div>
      </fieldset>
		<p class="small" style="text-align: center">- <a href="https://gitgud.io/LynxChan/LynxChan">LynxChan</a> + <a href="https://github.com/syrno9/HikariLynx/">HikariLynx</a> -</p>
	  </div>
</body>
<script src="/.static/js/newPosts.js"></script>
<script src="/.static/js/imgsMobile.js"></script>
<script src="/.static/js/banner.js"></script>
<script src="/.static/js/home.js"></script>
<script src="/.static/js/quote.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/jquery.min.js"></script>
<script src="/.static/js/activeThreads.js"></script>
<script src="/.static/js/mobileThreads.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/multiboardMenu.js"></script>

</html>