<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>

  <nav class="navHeader" id="dynamicHeader"></nav>

  <div class="titleWrapper" id="indexWrapper">

	<div style="display: flex; flex-direction: row; align-items: flex-start;">
  <fieldset class="titleFieldset" style="flex: 0.4;">
    <legend>Home</legend>
    <p><em>Welcome to hikari3.ch!</em></p>
	<p style="text-align:center;"><img src="/.static/masco.gif" width="210"></p>
	<p>Very comfy imageboard for people that like to take it easy. To get started, read the <a href="/.static/pages/globalRules.html">rules</a>, then read the <a href="/.static/pages/faq.html">FAQ</a>. After that, you can create a thread.</p>
	<hr>
	<footer><p>[ <a href="/.static/pages/frames.html">Frames</a> / <a href="/.static/pages/links.html">Friends</a> / <a href="/.static/pages/irc.html">IRC</a> / <a href="https://discord.gg/s25YzfwE3">Discord (Post Notifs)</a> / <a href="https://steamcommunity.com/groups/Hikari3">Steam</a> ]</p></footer> 
	 <hr>
	 <p><strong>Current News</strong></p>
	 <p><u><a href="/.static/pages/news.html">New rules - syrno</a></u></p>
	 <hr>
	 <footer>
      <p><span>Media files stored: <span id="labelTotalFiles"></span>
       • <span>Media size: <span id="labelTotalSize"></span></p>
	  <p><span>Total posts: <span id="labelTotalPosts"></span>
       • <span>Total boards: <span id="labelTotalBoards"></span></p>
</footer>
  </fieldset>
  <div style="display: flex; flex-direction: column; flex:1; margin-left: 10px;">
  <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <fieldset class="titleFieldset" style="flex: 1; margin-bottom: 10px;">
      <legend>Top Boards</legend>
      <div id="divBoards" class="topBoards title"></div>
    </fieldset>
    <div style="display: flex; flex-direction: row; align-items: flex-start;">
      <fieldset class="box-g" style="flex: 1;">
        <div class="box-g-title">Latest Images</div>
        <div id="divLatestImages"></div>
      </fieldset>
	  <div style="flex: 1; margin-left: 10px;"> 
	  
	  <fieldset class="box-b" style="flex: 1; margin-bottom: 10px;">
	  <div class="box-b-title">Active Threads</div>
	  <div id="threads-container"></div>
	  </fieldset>
	  
      <fieldset class="box-b" style="flex: 1;">
        <div class="box-b-title">Latest Posts</div>
        <div id="divLatestPosts"></div>
      </fieldset>
    </div>
  </div>
</div>
</div>
	</div>

  </div>
  <footer id="dynamicFooter"></footer>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/jquery.min.js"></script>
<script src="/.static/js/activeThreads.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/multiboardMenu.js"></script>

</html>
