<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />

<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>

  <div class="titleWrapper">

    <fieldset class="titleFieldset">

      <legend>Open Reports</legend>

      <form
        id="filterForm"
        method="get"
        action="/openReports.js">
        <input
          id="filterBoardIdentifier"
          name="boardUri"
          type="hidden">

        Filter by category:
        <div id="filterCategoriesDiv"></div>
        <button
          id="filterSubmitButton"
          type="submit">Filter</button>
        <hr>
      </form>
      <form
        method="post"
        action="/closeReports.js"
        enctype="multipart/form-data">

        <label>
          <input
            type="checkbox"
            class="closeReportsField"
            name="closeAllFromReporter"
            id="closeAllFromReporterCheckbox">
          Close all reports from these reporters
        </label>

        <label>
          <input
            type="checkbox"
            class="closeReportsField"
            name="deleteContent"
            id="deleteContentCheckbox">
          Delete reported content after closing the reports
        </label>

        <label>Ban options</label>

        <label>
          Ban target:
          <select
            name="banTarget"
            id="banTargetCombo">
            <option value="0">None</option>
            <option value="1">Post</option>
            <option value="2">Reporter</option>
          </select>
        </label>

        <label>
          Ban duration:
          <input
            type="text"
            class="closeReportsField"
            id="fieldBanDuration"
            name="duration">
        </label>

        <label>
          Ban reason:
          <input
            type="text"
            class="closeReportsField"
            id="fieldBanReason"
            name="banReason">
        </label>

        <label>
          Ban type:
          <select
            name="banType"
            id="comboBoxBanTypes">
            <option value="0">IP/Bypass ban</option>
            <option value="1">Range ban (1/2 octects)</option>
            <option value="2">Range ban (3/4 octects)</option>
            <option value="3">ASN ban</option>
            <option value="4">Ip/Bypass warning</option>
          </select>
        </label>

        <button
          type="submit"
          id="closeReportsFormButton">Close selected reports</button>

        <div id="reportDiv"></div>

      </form>

    </fieldset>

  </div>

  <div id="thread-post-template" class="hidden"></div>
  <div id="thread-upload-template" class="hidden"></div>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/captchaUtils.js"></script>
<script src="/.static/js/reports.js"></script>
<script src="/.static/js/postCommon.js"></script>

<!--TODO -->
<script src="/.static/js/thumbs.js"></script>
<script src="/.static/js/embed.js"></script>
<script src="/.static/js/postingMenu.js"></script>
<script src="/.static/js/posting.js"></script>
<script src="/.static/js/ruffle/ruffle.js" defer></script>

</html>
