<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />

<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>

  <nav class="navHeader" id="dynamicHeader"></nav>

  <header>
    <img
      src="/.static/logo.png"
      class="logoImg"
      alt="logo" />
  </header>

  <div class="titleWrapper">

    <div class="breadcrumb">
      <h2>
        <a href="/account.js">Account</a> &gt;
        <a href="/globalManagement.js">Global Management</a> &gt;
        Unix Socket
      </h2> 
    </div>

    <fieldset class="titleFieldset">

      <legend>Socket Control</legend>

      Status: <span id="statusLabel"></span>

      <form
        method="get"
        action="/restartSocket.js">
        <button
          type="submit"
          id="restartFormButton">Restart socket</button>
      </form>

    </fieldset>

  </div>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/socketControl.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
