<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/katex.min.css"
  type="text/css"
  rel="stylesheet" />

<script src="/.static/js/theme.js"></script>
<script src="/.static/js/interfaceUtils.js"></script>
</head>
<body>
<nav class="navHeader" id="dynamicHeader"></nav>
<div class="page-wrapper">
<div class="sidebar-wrapper">
<div class="sidebar-wrapper-ontop">
<div class="navigation-sidebar">
<div class="navHeader" id="dynamicSidebarThread"></div>
</div>
</div>
</div>
</div>
</div>
<div class="content-wrapper">
<div id="page-content">
<div class="mobileHide">
<div class="stickyNav" style="position: fixed;right: 5px;top: 20px;">
  <a href="#"><img src="/.static/icons/h3up.png" title="Top"></a>
  <a href="#footer"><img src="/.static/icons/h3down.png" title="Bottom"></a>
  </div>
<div class="stickyNavB" style="position: fixed;right: 5px;top: 20px;">
  <a href="#"><img src="/.static/yb-icons/arrow_up.png" title="Top"></a>
  <a href="#footer"><img src="/.static/yb-icons/arrow_down.png" title="Bottom"></a>
  </div>
<div class="stickyNavC" style="position: fixed;right: 5px;top: 20px;">
  <a href="#"><img src="/.static/css/arrow_up.png" title="Top"></a>
  <a href="#footer"><img src="/.static/css/arrow_down.png" title="Bottom"></a>
  </div>
<div class="stickyNavD" style="position: fixed;right: 5px;top: 20px;">
  <a href="#"><img src="/.static/other-ico/up.png" title="Top"></a>
  <a href="#footer"><img src="/.static/other-ico/down.png" title="Bottom"></a>
  </div>
<span class="boardLinks" style="position: fixed;right: 5px;top: 50px;">
		[
		<a href="catalog.html">Catalog</a>
		 / 
		<a href="index.rss">RSS</a>
		]
	</span> 
</div>
  <input type=checkbox value="showSideCatalog" id="showSideCatalog"/>
  <label for="showSideCatalog" id="sideCatalogMenu">
    <div
      id="sideCatalogDiv">

      <div id="sideCatalogHeader">

        <button
          id="sideCatalogRefreshButton"
        class="catalogLabel">Refresh</button>
        <span
          id="closeSideCatalogButton"
          class="close-btn coloredIcon glowOnHover"></span>
      </div>

      <div id="sideCatalogBody"></div>

    </div>

    <div id="sideCatalogOverlay"> </div>
  </label>

  <div id="mainPanel">

    <header class="boardHeader">
      <img id="bannerImage" />
      <div>
	      <h1 id="labelName"></h1>
      </div>
      <p id="labelDescription"></p>
    </header>

	<div class="innerUtility top">
		<a href="../">Index</a>
		<a href="../catalog.html">Catalog</a>
		<a target="_blank" class="archiveLinkThread">Archive</a>
		<a class="navButton" href="#footer">Bottom</a>
		<a class="reloadButton">Refresh</a>
	</div>
<noscript>
  <style>
    #newPostFieldset {
      display: inline-block !important;
    }

    #submitButton {
      display: none;
    }
  </style>
</noscript>
<div id="submitButton" style="text-align:center; margin-bottom: 10px">
[<button id="submitBtn" class="submitButton">Submit a Reply</button>]
</div>
  <div id="postingForm">
    <fieldset id="newPostFieldset" class="boardFieldset" style="display: none;">
      <input type="checkbox" id="newPostFieldHide" class="hidden" />

      <form
        action="/newThread.js"
        enctype="multipart/form-data"
        method="post">

        <div id="postingFormContents"></div>
	  <div style="font-size: 70%;text-align: left">• Before posting, make sure to read the <a href="/rules">rules</a></div>
      <div style="font-size: 70%;text-align: left">
        • Max file size: <span id="labelMaxFileSize"></span>
      </div>
      <div style="font-size: 70%;text-align: left">
        • Max files: <span id="labelMaxFiles"></span>
      </div>
	 <div style="font-size: 70%;text-align: left">
	  • Supported file types: GIF, JPG, PNG, WebM, OGG, SWF
	  </div>
	  <div style="font-size: 70%;text-align: left">
	  • Images greater than 250x250 pixels will be thumbnailed
	  </div>
        <div class="mobileShow"><input type="submit" id="formButton" value="Post"></div>
      </form>
    </fieldset>

  </div>
<div id="dynamicBlotter"></div>

    <div id="divControls">

      <form
        action="/changeThreadSettings.js"
        method="post"
        enctype="multipart/form-data">

        <fieldset class="titleFieldset">
          <legend>Thread Settings</legend>

          <label>
            <input
              name="lock"
              class="threadSettingsField"
              id="checkboxLock"
              type="checkbox">
            Lock
          </label>
          <label>
            <input
              name="bumplock"
              class="threadSettingsField"
              id="checkboxBumplock"
              type="checkbox">
            Autosage
          </label>
          <label>
            <input
              class="threadSettingsField"
              name="pin"
              id="checkboxPin"
              type="checkbox">
            Pin
          </label>
          <label>
            <input
              type="checkbox"
              class="threadSettingsField"
              name="cyclic"
              id="checkboxCyclic">
            Cyclic
          </label>

          <input
            type="hidden"
            name="boardUri"
            id="controlBoardIdentifier">
          <input
            type="hidden"
            name="threadId"
            id="controlThreadIdentifier">
          <input
            type="submit"
            class="titleFormButton"
            id="settingsFormButton"
            value="Save">

        </fieldset>
      </form>

    </div>
    <div id="divArchive">

      <form
        action="/archiveThread.js"
        method="post"
        enctype="multipart/form-data">

        <fieldset class="titleFieldset">
          <legend>Archive Thread</legend>

          <label>
            <input
              name="confirmation"
              class="archiveField"
              id="checkboxArchive"
              type="checkbox">
            Yes, I wish to lock and archive this thread
          </label>

          <input
            type="hidden"
            name="boardUri"
            id="archiveBoardIdentifier">
          <input
            type="hidden"
            name="threadId"
            id="archiveThreadIdentifier">
          <input
            type="submit"
            id="archiveFormButton"
            value="Archive">

        </fieldset>
      </form>

    </div>

    <div id="transferControls">

      <form
        action="/transferThread.js"
        enctype="multipart/form-data"
        method="post"
        id="formTransfer"
        class="formTransfer">

        <fieldset class="titleFieldset">
          <legend>Transfer Thread</legend>

          <input
            type="hidden"
            name="boardUri"
            id="transferBoardIdentifier">

          <input
            type="hidden"
            name="threadId"
            id="transferThreadIdentifier">

          <label>
            Destination Board:
            <input
              type="text"
              class="transferField"
              id="fieldDestinationBoard"
              name="boardUriDestination">
          </label>

          <input
            type="submit"
            id="transferFormButton"
            value="Transfer thread">

        </fieldset>
      </form>

    </div>

    <div id="divMerge">

      <form
        action="/mergeThread.js"
        enctype="multipart/form-data"
        method="post"
        id="formMerge"
        class="formMerge">

        <fieldset class="titleFieldset">
          <legend>Merge Thread</legend>

          <input
            type="hidden"
            name="boardUri"
            id="mergeBoardIdentifier">

          <input
            type="hidden"
            name="threadSource"
            id="mergeThreadIdentifier">

          <label>
            Destination Thread:
            <input
              type="text"
              class="mergeField"
              id="fieldDestinationThread"
              name="threadDestination">
          </label>

          <input
            type="submit"
            id="mergeFormButton"
            value="Merge thread">

        </fieldset>
      </form>

    </div>

    <div id="ipDelete">

      <form
        id="ipDeletionForm"
        method="post"
        action="/deleteFromIp.js"
        enctype="multipart/form-data">

        <fieldset class="titleFieldset">
          <legend>Delete IP</legend>

          <label>
            NonHashedIP:
            <input
              type="text"
              class="ipDeletionField"
              name="ip"
              id="ipField">
          </label>
          <label>
            <input
              type="text"
              class="ipDeletionField"
              name="boards"
              id="fieldBoards">
          </label>

          <input
            type="submit"
            id="deleteFromIpFormButton"
            value="Delete from IP">
        </fieldset>
      </form>

    </div>
	<hr>
  <div class="haImage">
	<a href="#" id="haContainer">
		<img src="#" class="haImage" id="haImage">
	</a>
  </div>
    <div id="dynamicAnnouncement"></div>
    <div id="panelMessage">
      <hr>
      <div id="divMessage"></div>
    </div>

    <div id="threadList">

      <form
        method="post"
        action="/contentActions.js"
        enctype="multipart/form-data">

        <div id="divThreads"></div>

        <hr class="clearer" />

		<div class="threadBottom">
			<span class="innerUtility">
				<a href="../">Index</a>
				<a href="../catalog.html">Catalog</a>
				<a target="_blank" class="archiveLinkThread">Archive</a>
				<a class="navButton" href="#">Top</a>
				<a id="replyButton" href="#postingForm">Reply</a>
			</span>

			<p><span class="threadInfo">
				<span id="postCount"></span>
				<span id="idCount"></span>
				Posters: <span id="userCountLabel"></span>
				<span id="fileCount"></span>
			</span></p>

		</div>

		<hr>

        <div class="divRefresh hidden">

          <input
            type="button"
            id="refreshButton"
            value="Refresh">

          <label>
            <input
              id="checkboxChangeRefresh"
              type="checkbox"
              checked >
            <span id="labelWsStatus" title="Connecting to WS...">&#x2B24;</span>
            <span id="labelAutoIndicator">Auto</span> <span id="labelRefresh"></span>
          </label>

        </div>

        <div id="actionsForm"></div>

      </form>

    </div>

    <div id="quick-reply" style="top: 50px;"></div>
    <div id="thread-post-template" class="hidden"></div>
    <div id="thread-upload-template" class="hidden"></div>

<div>
  <footer id="dynamicFooterAlt"></footer>
</div>
  <div id="thread-post-template" class="hidden"></div>
  <div id="thread-upload-template" class="hidden"></div>
</body>
<script src="/.static/js/BUTTON.js"></script>
<script src="/.static/js/banner.js"></script>
<script src="/.static/js/crypto.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/postCommon.js"></script>
<script src="/.static/js/thread.js"></script>

<script src="/.static/js/qr.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/thumbs.js"></script>
<script src="/.static/js/embed.js"></script>
<script src="/.static/js/tooltips.js"></script>
<script src="/.static/js/hiding.js"></script>
<script src="/.static/js/postingMenu.js"></script>
<script src="/.static/js/posting.js"></script>
<script src="/.static/js/multiboardMenu.js"></script>

<script src="/.static/js/captchaUtils.js"></script>
<script src="/.static/js/gallery.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/sideCatalog.js"></script>
<script src="/.static/js/bypassUtils.js"></script>
<script src="/.static/js/ruffle/ruffle.js" defer></script>

</html>
