<table class="scroll">
    <tbody>
	<tr>
	<td>12/21/23</td>
	<td>Recent news post: <a href="/news#15">Check here</a>. Also, new board added: <a href="/i">/i/ - Oekaki</a>.</td>
    </tr>
	<tr>
	<td>11/25/23</td>
	<td>Accepting banner submissions; check this <a href="/h3/res/343.html">thread</a> for more details.</a></td>
    </tr>
	<tr>
	<td>11/17/23</td>
	<td style="color: red">New blotter! Use this to keep an eye for small updates.</td>
    </tr>
	<tr>
	<td class="blotterPageNo"></td>
	<td class="blotterPageNo" style="float: right">[<a href="/blotter" title="View Blotter">Show All</a>]</td>
    </tr>
</tbody></table>