<style>
.box-min-title3 {
  font-size: 100%;
}
</style>

<div class="box-min-title3"><strong id="1">What is hikari3.ch? <a href="#1" style="float: right;">#</a></strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>A simple imageboard based on being comfy, relaxed and fun.</p>
<p>It was founded in May, 2023 by syrno, the current administrator.</p>
</div>

<div class="box-min-title3"><strong id="2">What is an imageboard? <a href="#2" style="float: right;">#</a></strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>A type of web forum based around anonymous discussions and images. Anonymity being the main difference from traditional forums, which allows people to focus more on posts instead of identity.</p>
</div>

<div class="box-min-title3"><strong id="3">Is there a way to authenticate my identity? <a href="#3" style="float: right;">#</a></strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>Yes, by using a tripcode, although we encourage more anonymous posting. It’s more fun that way!</p>
</div>

<div class="box-min-title3"><strong id="4">What are tripcodes? <a href="#4" style="float: right;">#</a></strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>After entering your name and #, you will put in a password, to which it converts the password into a code, which is then displayed next to the user's name or post. Secure tripcodes use ##. For example, you would put: name##password in the name field.</p>
</div>

<div class="box-min-title3"><strong id="5">Who is that blue woman? <a href="#5" style="float: right;">#</a></strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>Hikari-chan, our mascot. The art of her on the homepage was created by MEMEow.</p>
</div>