<div style="text-align: center;">
<div style="display: inline-block;">
<div class="box-min-title2">No.</div>
<div  style="margin-top: 3px">
<div class="flashContent">
<p id="postNumber"></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div class="box-min-title2">Name</div>
<div  style="margin-top: 3px">
<div class="flashContent">
<p id="postName"></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div class="box-min-title2">File</div>
<div  style="margin-top: 3px">
<div class="flashContent">
<p id="fileName"></p>
</div>
</div>
</div>
<div style="display: inline-block;">
<div class="box-min-title2">Embed</div>
<div  style="margin-top: 3px">
<div class="flashContent">
<p id="embed"></p>
</div>
</div>
</div>
<div style="display: inline-block;" class="mobileHide">
<div class="box-min-title2">Subject</div>
<div  style="margin-top: 3px">
<div class="flashContent">
<p id="postSubject"></p>
</div>
</div>
</div>
<div style="display: inline-block;" class="mobileHide">
<div class="box-min-title2">Size</div>
<div  style="margin-top: 3px">
<div class="flashContent">
<p id="fileSize"></p>
</div>
</div>
</div>
<div style="display: inline-block;" class="mobileHide">
<div class="box-min-title2">Date</div>
<div  style="margin-top: 3px">
<div class="flashContent">
<p id="postDate"></p>
</div>
</div>
</div>
<div style="display: inline-block;" class="mobileHide">
<div class="box-min-title2">Replies</div>
<div  style="margin-top: 3px">
<div class="flashContent">
<p id="postReplies"></p>
</div>
</div>
</div>
</div>
<br>
<script src="/.static/js/flash.js"></script>