<div id="footer">
	-
	<a class="coloredIcon" href="//gitgud.io/LynxChan/LynxChan"><u>LynxChan</u></a>
    +
	<a class="coloredIcon" href="//github.com/syrno9/HikariLynx"><u>HikariLynx</u></a>
	-
	<br>
	<br>
	<div class='footerDisclaimer'>
		The stories and information posted here are artistic works of fiction and falsehood.
		<br>
		Only a fool would take anything posted here as fact.
    <hr>
	</div>
	-
    <a href="/faq">FAQ</a>
    •
    <a href="/rules">Rules</a>
    •
    <a href="/legal">Legal</a>
    •
    <a href="/contact">Contact</a>
	-

</div>
