<a href="/"><img src="/.static/logo3.webp" width="250" style="position: relative; top: 5px; left: 3px; z-index: 2;"></a>
<span class="header-links"> <a href="/">Home</a> / <a href="/faq">FAQ</a> / <a href="/rules">Rules</a> </span>
<div class="header-boards"> 
    <a class="dropbtn" href="/en/">General</a>
    <a class="dropbtn" href="/f/">Flash</a>
    <a class="dropbtn" href="/h3/">Site Meta</a>
    <a class="dropbtn" href="/i/">Oekaki</a>
    <a class="dropbtn" href="/jp/">Otaku Culture</a>
    <a class="dropbtn" href="/t/">Technology</a>
    <a class="dropbtn" href="/v/">Video Games</a>
    <div class="dropdown" style="top: -1px;position: relative;">
      <button class="dropbtn">Latest</button>
      <div class="dropdown-content">
        <a href="/overboard/">Overboard</a>
        <a href="/logs.js">Logs</a>
        <a href="/news">News</a>
      </div>
    </div>
</div>