  <input type=checkbox id="mobile-hamburger" />
  <label id="hamburger-menu-icon" for="mobile-hamburger" class="glowOnHover"> 
    <nav id="sidebar-menu">
	<a href="/"><img src="/.static/nav.png" width="200"></a>
      <ul>
        <li> <a href="/"
           class="coloredIcon navLinkHome">
        </a></li>
        <li> <a href="/overboard"
           class="coloredIcon linkOverboard">
        </a></li>
        <li> <a
           class="coloredIcon settingsButton">
        </a></li>
        <li> <a
           class="coloredIcon watcherButton">
        </a></li>
      </ul>
    </nav>
    <div id="hamburger-overlay">
    </div>
  </label>

<span>[ <a href="/en" title="General">en</a> / <a href="/f" title="Flash">f</a> / <a href="/h3" title="hikari3 Discussion">h3</a> / <a href="/i" title="Oekaki">i</a> / <a href="/jp" title="Otaku Culture">jp</a> / <a href="/t" title="Technology">t</a> / <a href="/v" title="Video Games">v</a> ]</span>
<span class="mobileHide"><span class="side-header">[ <a id="applyCustomCSS">Show Sidebar</a> ]</span></span>
<span class="mobileShow"><span class="side-header">[ <a href="/">Home</a> ]</span></span>
<script src="/.static/js/sidebar.js"></script>