<span id="navLinkSpan"><a class="nav" href="/">
<img src="/.static/nav.png" width="210">
  </a>
<input type=checkbox id="mobile-hamburger" />
  <label id="hamburger-menu-icon" for="mobile-hamburger" class="glowOnHover"> 
    <nav id="sidebar-menu">
     <ul><span id="navLinkSpan"> 
        <li> <a href="/"
           class="coloredIcon navLinkHome">Home
        </a></li>
        <li> <a href="/boards.js"
           class="coloredIcon navBoardList">Boards
        </a></li>
        <li> <a href="/overboard"
           class="coloredIcon linkOverboard">Overboard
        </a></li>
        <li> <a href="/sfw"
           class="coloredIcon linkSfwOver">SFW Overboard
        </a></li>
        <li> <a
           class="coloredIcon multiboardButton">Multiboard
        </a></li>
        <li> <a href="/.static/pages/posting.html"
           class="coloredIcon navPosting">Posting
        </a></li>
        <li> <a
           class="coloredIcon settingsButton">Settings
        </a></li>
        <li> <a
           class="coloredIcon watcherButton">Watcher
        </a></li>
        <li> <a href="/account.js"
           class="coloredIcon navMod">User Account
        </a></li>
      </ul>
    </nav>
    <div id="hamburger-overlay">
    </div>
  </label>
  <span>[</span>
  <a href="/"
  class="coloredIcon navLinkHome"
  title="Home"></a> <span>/</span> <a
  href="/boards.js"
  class="coloredIcon navBoardList"
  title="Boards"></a> <span>/</span> <a
  href="/overboard"
  class="coloredIcon linkOverboard"
  title="Overboard"></a> <span>/</span> <a
  href="/sfw"
  class="coloredIcon linkSfwOver"
  title="SFW Overboard"></a> <span>/</span> <a
  class="coloredIcon multiboardButton"
  title="Multiboard (requires JavaScript)"></a> <span>/</span> <a
  href="/.static/pages/posting.html"
  class="coloredIcon navPosting"
  title="Posting"></a> <span>/</span> <a
  class="coloredIcon settingsButton"
  title="Settings (requires JavaScript)"></a> <span>/</span> <a
  class="coloredIcon watcherButton"
  title="Thread Watcher (requires JavaScript)"></a> <span>/</span> <a
  href="/account.js" id="themesBefore"
  class="coloredIcon navMod"
  title="User Account"></a> <span>]</span>
</span>
<span id="navTopBoardsSpan"> </span>
<span id="navBoardsSpan"> </span>
<span id="navOptionsSpan"> </span>
