  <input type=checkbox id="mobile-hamburger" />
  <label id="hamburger-menu-icon" for="mobile-hamburger" class="glowOnHover"> 
    <nav id="sidebar-menu">
	<a href="/"><img src="/.static/nav.png" width="200"></a>
      <ul>
        <li> <a href="/"
           class="coloredIcon navLinkHome">
        </a></li>
        <li> <a href="/overboard"
           class="coloredIcon linkOverboard">
        </a></li>
        <li> <a
           class="coloredIcon settingsButton">
        </a></li>
        <li> <a
           class="coloredIcon watcherButton">
        </a></li>
      </ul>
    </nav>
    <div id="hamburger-overlay">
    </div>
  </label>


<span>[ <a href="/aca">aca</a> / <a href="/en">en</a> / <a href="/f">f</a> / <a href="/h3">h3</a> / <a href="/jp">jp</a> / <a href="/t">t</a> / <a href="/v">v</a> ]</span>
<span class="mobileHide">
<span class="headerLinks">
		[
		<a href="/">Home</a>
		 / 
		<a href="catalog.html">Catalog</a>
		 / 
		<a href="index.rss">RSS</a>
		 ] 
		<span class="sideButt">
		 [ 
		<a id="applyCustomCSS">Show Sidebar</a>
		]
		</span>
	</span> 
</span>
<span class="mobileShow"><span class="side-header">[ <a href="/">Home</a> ]</span></span>
<script src="/.static/js/sidebar.js"></script>