<a
  href="/logs.js"
  class="coloredIcon"
  id="linkGlobalLogs"></a>
<span>•</span>
<a
  href="//archive.today/http://8chan.moe/*"
  class="coloredIcon"
  id="linkArchives"></a>
<span>•</span>
<a
  href="/graphs.js"
  class="coloredIcon"
  id="linkGraphs"></a>
<span>•</span>
<a
  href="/.static/pages/globalRules.html"
  class="coloredIcon"
  id="linkGlobalRules"></a>
<span>•</span>
<a
  href="/.static/pages/links.html"
  class="coloredIcon"
  id="linkLinks"></a>
<span>•</span>
<a
  href="/.static/pages/about.html"
  class="coloredIcon"
  id="linkAbout"></a>
<span>•</span>
<a
  href="/.static/pages/contact.html"
  class="coloredIcon"
  id="linkContact"></a>
<span>•</span>
<a
  href="/.static/pages/donate.html"
  class="coloredIcon"
  id="linkDonate"></a>
<span>•</span>
<a
  href="/account.js"
  class="coloredIcon"
  id="linkAccount"></a>
