<div class="box-min-title3"><strong id="14">UPDATE by <a href="mailto:syrno@hikari3.ch">syrno</a> - 10/28/23 @ 5:17 AM (UTC) <a href="#14" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>Sorry I haven’t done much in the past month to improve the site, or make any new updates. I’ve been really busy with work, school, among other personal things. Fortunately though, I’ll have more free time soon, so I’d like to go over what’s new, and what’s coming.</p>
<p>First of all, the most noticeable change: The new sidebar. I’ve been aching for a while to change most of the navigation from the header to the sidebar. I’ve always preferred to use the frames layout, without a sidebar, the whole page feels empty for me. If you prefer to have no sidebar, you can remove it with the [<<] button in the navigation field. (It still comes back when you load a page, which I have to fix still)</p>
<p>You may have noticed other changes on the main pages that appeared. With the addition of the sidebar, some of the old pages did not fit well with it, so I updated most of the pages.
The rules and FAQ themselves have been updated as well so I recommend checking those out. (If something doesn't work/display correctly, clear your cache)</p>
<p>A list of other stuff I’ve changed:</p>
<ul>
<li>Changed icons</li>
<li>New post stylings</li>
<li>"Ad" placement</li>
<li>Larger thumbnail size</li>
</ul>
<p>And lastly, I have added a new board:</p>
<p><a href="/f">/f/ - Flash</a></p>
<p>As always, if you have any questions, problems, complaints to share, post them in <a href="/h3">/h3/</a>. The site may go up and down during the next day since there's a few other stuff I have to fix on the server.</p>
</div>

<div class="box-min-title3"><strong id="13">4 MONTH CHECK-IN by <a href="mailto:syrno@hikari3.ch">syrno</a> - 9/21/23 @ 3:05 AM (UTC)<a href="#13" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>It has been 4 months since I made the site public. I usually like to give these news posts each month, but I skipped over August since there wasn’t much to say. I’ve been busy with uni and trying to land a new job, so moderation on my part gets difficult usually. Luckily I’ve had janitors and moderators keep up with the spam, so I give them a huge thanks. I would also like to thank the people in the IRC/Dicksword that report it, as well as the people that report it on the site.</p>
<p>I’ve had some new ideas regarding the front-end, board CSS, and maybe even new boards(?) that goes beyond typical discussion. I’m not too sure what will work and what won’t yet, so we’ll see.

If you’re interested in helping with the site’s development, message on the IRC/Dicksword, or email me. I am honestly pretty bad with web development <img src="/.static/emotes/laugh.gif" width="45">

Overall, I’m happy with the comfy community the site has. Thank you so much to everybody that contributes! <img src="/.static/emotes/happy.png" width="45">
</div>


<div class="box-min-title3"><strong id="12">NEW RULES by <a href="mailto:syrno@hikari3.ch">syrno</a> - 8/4/23 @ 3:26 AM (UTC) <a href="#12" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>It's not much different. I just condensed it a bit, tried to make it more clear. I still recommend reading it as a refresher.</p>
<p>Happy August friends.</p>
</div>

<div class="box-min-title3"><strong id="11">USER BOARD CREATION DISABLED by <a href="mailto:syrno@hikari3.ch">syrno</a> - 7/21/23 @ 8:22 PM (UTC) <a href="#10" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>As most of you know, we've had user board creation enabled. Starting soon now, we will no longer have this feature open. </p>

<s><p>BUT this does not mean we are getting rid of the idea. This just means that instead of boards being made by users directly, they will be requested instead. There will be a dedicated thread for board creation requests, where you will answer several questions about your requested board so that I know you will put proper effort into managing your board.</p></s>

<p>Why? Easier and better quality control. I don't want an abundance of boards with no posts. It would make the site feel empty.</p>

<p>I feel like this change would be better for our much smaller community.</p>

<p>As you may have noticed, /a/ and /jp/ were merged into one board, since both are on similar topics and fits better with our small user-base. Sorry if you liked this feature from before, but I feel like this would be more beneficial for a smaller community. </p>
</div>

<div class="box-min-title3"><strong id="10">2 MONTH CHECK-IN by <a href="mailto:syrno@hikari3.ch">syrno</a> - 7/21/23 @ 2:37 AM (UTC) <a href="#11" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>It has now been 2 months since the site went public. Not much else, but we have added a new "Popular Threads" section to the front page. I mainly added this to make it look a bit more lively. I slightly changed the emotes because I'm a dumb dumb and thought CSS was the only way I could make them show up on here. Now they display in proper HTML now. </p>

<p>Another subject I would like to touch on is possible new staff recruitment. Mainly new janitors, to clean up the pizza spam on the site. I would also like to have some people that are able to bring more eyes to the site and do more in terms of the site's publicity. I'm not able to do a whole lot in terms of that. I will probably open up a thread in <a href="/h3/">/h3/</a> about it soon.</p>

<p>Anyways, be sure to share the site whenever you can. The more activity on these boards, the better it'll be. If you have any more suggestions and such, post about it in <a href="/h3/">/h3/</a> or bring it up in IRC/Dicksword.</p>

<p>In our first 2 months, we have recieved over 1,630 posts! That's over a thousand more than we had a month ago. Thank you so much to everyone that has contributed to the board.</p>

<p>(Make sure to reset your cache if the new updates don't show up)</p>
</div>

<div class="box-min-title3"><strong id="9">DICKSWORD by <a href="mailto:syrno@hikari3.ch">syrno</a> - 7/13/23 @ 10:30 PM (UTC) <a href="#9" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>While I'm not too big on Discord, I thought something for the site's post notifications wouldn't be a bad idea to keep activity running.</p>
<s><p>(Not an off-site chat, but is connected to IRC, so you can see the posts from there (you can't post in the discord though))</p></s>
<p>(Has a 2-way IRC bridge)</p>
<p><a href="https://discord.com/invite/ZYNhhTHX9">Invite Link</a></p>
</div>

<div class="box-min-title3"><strong id="8">IRC CHANNEL by <a href="mailto:syrno@hikari3.ch">syrno</a> - 7/09/23 @ 11:01 AM (UTC) <a href="#8" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>We got an IRC now!</p>
<p><a href="irc://irc.rizon.net/hikari3" target="_blank">#hikari3 @ irc.rizon.net</a></p>
			 <p>This will be pretty handy for things like:</p>
	<ul>
	<li>Quick/fast paced conversation</li>
	<li>Quick contact for things like bugs or reporting</li>
	</ul><p><s>An iframe embed page will be going up soon.</s></p>
	<a href="/.static/pages/irc.html">IRC page</a>
</div>



<div class="box-min-title3"><strong id="7">HERE'S TO ANOTHER MONTH by <a href="mailto:syrno@hikari3.ch">syrno</a> - 7/01/23 @ 5:45 AM (UTC) <a href="#7" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<strong><h1 style="text-align:center;">Happy July</h1></strong>
<p style="text-align:center;"><img width="150" src="/.global/mimeThumbs/6531ff6820aa1d5222ed838a"></p>
<p style="text-align:center;">Hope this month is comfy for you!</p>
</div>

<div class="box-min-title3"><strong id="6">WRAPPING UP by <a href="mailto:syrno@hikari3.ch">syrno</a> - 7/01/23 @ 5:14 AM (UTC) <a href="#6" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>As June wraps up, I would just like to thank everyone that contributed by posting, sharing the site, or even just checking out the site.</p>
<p>The site is still in its infancy so things are pretty slow around here, but if you would like activity to speed up or increase, be sure to share it! Especially if you own a board and such. </p>
<p>Hopefully we prosper a thriving community soon. More site updates are to come...</p>
</div>

<div class="box-min-title3"><strong id="5">THANK YOU FISH by <a href="mailto:syrno@hikari3.ch">syrno</a> - 6/30/23 @ 6:45 PM (UTC)<a href="#5" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>hikari3 nearly imploded because I was a few cents below the monthly server bill (cause I'm broke <span class="down"></span>) until Fish stepped in and gave $1. We have survived another month</p>

<p><img src="/.global/mimeThumbs/649f223963d3527825a002e2" width="150"></p>
</div>



<div class="box-min-title3"><strong id="4">1 MONTH-CHECK IN by <a href="mailto:syrno@hikari3.ch">syrno</a> - 6/21/23 @ 2:18 PM (UTC) <a href="#4" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p><marquee><span class="moeText">1 Month Anniversary! <img src="/.static/emotes/nya.png" width="45"></span></marquee></p>
<p>It's been about a month since the site first went public. That's cool, anyways. I updated stuff like the new emotes! They were sketched up by Kriem, then I attempted to put them into pixel art. Captcha's gonna go on and off depending on when I'm awake, and when the 2 janitors are available. So we're probably going to have applications for these opened eventually. Most of us are in the United States, so we'll need some people from overseas. The pizza spam bot situation is pretty bad, which is our reasoning for enabling every board to have captcha.</p>

<p>Another thing that'll probably happen soon is an IRC channel. I'll probably do it when we get more posters.</p>

<p>In our 1st month, we got 400 posts. I'm happy that people decided to post some cool stuff. As we hopefully grow, we can also keep it comfy here hopefully. If you would like to see more activity around here, be sure to share the site! Especially to other boards too, that helps.</p>

<p>Thanks! Be sure to reset your cache and browser for the updates to work (If needed!)</p>
</div>



<div class="box-min-title3"><strong id="3">FRAMES! by <a href="mailto:syrno@hikari3.ch">syrno</a> - 6/01/23 @ 5:50 AM (UTC) <a href="#3" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>The frames are shitty and kind of pointless. It's just another way of navigating, even though we already have the navbar, but if you want to use it, you're now able to.</p>
</div>



<div class="box-min-title3"><strong id="2">UPDATES by <a href="mailto:syrno@hikari3.ch">syrno</a> - 5/28/23 @ 11:00 PM (UTC) <a href="#2" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>As our community hopefully grows, I plan to add more to the site (Features and stuff). Since summer started and I've just moved into my new room, I can put more focus into the site. If you have any suggestions about the site, put it in <a href="/h3/">/h3/</a></p>
<p>I'm really happy to see that people are posting on the site, so thank you to the people have posted!</p>
<p>Thanks for the homepage art MEMEow!</p>
</div>



<div class="box-min-title3"><strong id="1">WELCOME! by <a href="mailto:syrno@hikari3.ch">syrno</a> - 5/23/23 @ 4:00 PM (UTC) <a href="#1" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>Welcome to hikari3.ch! (Sorry this is a bit late (* ^ ω ^)</p>
<p>Hikari3.ch was made to have a space where anyone can anonymously share their thoughts and interests. The boards on here are user-created, however we’re putting more emphasis on more friendly topics and discussions, and less on free-speech. (Make sure to read the <a href="/.static/pages/global rules.html">global rules</a>). I recently posted a thread on <a href="https://www.heyuri.net">Heyuri</a>, which is where most of you likely have seen it. Wherever you’re from: we’re glad to have you here! Hopefully we can grow into a community of our own!</p>

<p>If you like it here, be sure to share it with others!</p>
</div>

<div class="box-min-title3"><strong id="0">WE'RE OPEN! by <a href="mailto:syrno@hikari3.ch">syrno</a> - 5/21/23 @ 1:47 AM (UTC) <a href="#0" style="float: right;">#</a></strong></div>

<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
<p>hikari3 is officially open to the public.</p>
</div>