<input type="text"
   id="prevent_autofill_uname"
   class="hidden"
   autocomplete="off"
   tabindex="-1" />
<input type="password"
    id="prevent_autofill_pwd"
    class="hidden"
    autocomplete="off"
    tabindex="-2" />

<table> <tbody>

  <tr id="divName">
    <th>Name</th>
    <td><input
        type="text"
        autocomplete="none"
        class="postingInput"
        id="fieldName"
        name="name"
		placeholder="Anonymous">
		</td>
  </tr>
 
  <tr id="divOptions">
    <th>Options</th>
    <td>
      <span id="useSageSpan">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
		  name="sage"
          id="doSageCheckbox">
        <label for="doSageCheckbox"></label>
      </span>

      <span class="hidden" id="alwaysUseBypassSpan">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="alwaysUseBypassCheckBox">
        <label for="alwaysUseBypassCheckBox"></label>
      </span>
    </td>
  </tr>

  <tr>
    <th>Subject</th>
    <td><input
        type="text"
        autocomplete="none"
        class="postingInput"
        id="fieldSubject"
        name="subject">
      <input
        name="boardUri"
        id="boardIdentifier"
        type="hidden"
        tabindex="-3" /></td>
  </tr>

<tr>
  <th>Message</th>
  <td>
    <textarea
      rows="5"
      cols="35"
      class="postingInput"
      id="fieldMessage"
      name="message"></textarea>

    <p class="small">
      Max message length: <span id="labelMessageLength"></span>
    </p>
    <details class="small">
      <summary class="glowOnHover">Emotes</summary>
	  <p></p>
        <p><button type="button"><img src="/.static/emotes/angry.gif" width="40"><p>:angry:</p></button>
        <button type="button"><img src="/.static/emotes/annoyed.png" width="40"><p>:annoyed:</p></button>
        <button type="button"><img src="/.static/emotes/annoyed2.png" width="40"><p>:annoyed2:</p></button>
        <button type="button"><img src="/.static/emotes/cry.gif" width="40"><p>:cry:</p></button>
        <button type="button"><img src="/.static/emotes/down.gif" width="40"><p>:down:</p></button>
        <button type="button"><img src="/.static/emotes/happy.png" width="40"><p>:happy:</p></button></p>
        <p><button type="button"><img src="/.static/emotes/happy2.png" width="40"><p>:happy2:</p></button>
        <button type="button"><img src="/.static/emotes/happy3.png" width="40"><p>:surprised:</p></button>
        <button type="button"><img src="/.static/emotes/neco.png" width="40"><p>:neco:</p></button>
        <button type="button"><img src="/.static/emotes/nya.png" width="40"><p>:nya:</p></button>
        <button type="button"><img src="/.static/emotes/snicker.gif" width="40"><p>:snicker:</p></button>
        <button type="button"><img src="/.static/emotes/vengence.gif" width="40"><p>:vengence:</p></button></p>
		<p><button type="button"><img src="/.static/emotes/sleep.png" width="40"><p>:sleep:</p></button>
		<button type="button"><img src="/.static/emotes/laugh.gif" width="40"><p>:laugh:</p></button>
		<button type="button"><img src="/.static/emotes/drool.gif" width="40"><p>:drool:</p></button>
		<button type="button"><img src="/.static/emotes/disgust.png" width="40"><p>:disgust:</p></button></p>
	<script src="/.static/js/emotes.js"></script>
	</details>
  </td>
</tr>

  <tr id="divUpload">
    <th>Files</th>
    <td>
      <div
        class="hidden"
        id="dragAndDropDiv">
        <div
          class="dropzone"
          id="dropzone">
          Drag files to upload or
          <br>
          click here to select them
        </div>
        <div id="selectedDiv"></div>
      </div>

      <div>
        <input
          type="file"
          name="files"
          id="inputFiles"
          multiple
          class="fileBrowser">
      </div>
      <input
        type="checkbox"
        name="spoiler"
        class="postingCheckbox"
        id="checkboxSpoiler"> <label for="checkboxSpoiler"></label>
      <label id="labelScramble" for="checkboxScramble"></label>

      <p class="small">
        Max file size: <span id="labelMaxFileSize"></span>
      </p>
      <p class="small">
        Max files: <span id="labelMaxFiles"></span>
      </p>
      <p class="small">
        Supported file types: GIF, JPG, PNG, WebM, OGG, and
       	<a class="localPageLink" href="/.static/pages/faq.html#filetypes">more</a>
      </p>

    </td>
  </tr>

  <tr id="captchaDiv">

    <th>Captcha</th>
    <td><img
      class="captchaImage"
      src="/captcha.js" />

      <div class="subCaptchaDiv">
        <input
          type="button"
          value="Reload"
          class="hidden reloadCaptchaButton">
        <span class="captchaTimer"></span>
        <br>

        <input
          name="captcha"
          type="text"
          autocomplete="none"
          class="captchaField postingInput"
          id="fieldCaptcha"
          placeholder="answer">

        <a
          href="/noCookieCaptcha.js"
          class="small"
          id="noCookiesLink">no cookies?</a>

      </div></td>
  </tr>

</tbody> </table>

<details class="postingFormExtra">
<summary class="glowOnHover"></summary>

<table> <tbody>

  <tr>
    <th>E-mail</th>
    <td><input
        type="text"
        autocomplete="none"
        class="postingInput"
        id="fieldEmail"
        name="email"></td>
  </tr>

  <tr>
    <th>Password</th>
    <td><input
        id="fieldPostingPassword"
        name="password"
        class="postingInput"
        type="password">
      <p class="small">(used to delete files and postings)</p></td>
  </tr>

  <tr>
    <th>Misc</th>
    <td>
      <div id="flagsDiv">
        <select
          name="flag"
          id="flagCombobox"></select>
        <img class="flagPreview">
      </div>
      <div id="noFlagDiv">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="checkboxNoFlag"
          name="noFlag">
        <label for="checkboxNoFlag"></label>
      </div>
    </td>
  </tr>
</tbody> </table>

</details>

<div id="selected-cell-template" class="hidden">
  <a class="removeButton coloredIcon"></a>
  <span class="nameLabel"></span>
  <br>
  <label class="spoilerPanel">
    <input type="checkbox" class="spoilerCheckBox">
    Spoiler
  </label>
</div>
