<input type="text"
   id="prevent_autofill_uname"
   class="hidden"
   autocomplete="off"
   tabindex="-1" />
<input type="password"
    id="prevent_autofill_pwd"
    class="hidden"
    autocomplete="off"
    tabindex="-2" />

<table> <tbody>

  <tr id="divName">
    <th>Name</th>
    <td><input
        type="text"
        autocomplete="none"
        class="postingInput"
        id="fieldName"
        name="name"
		placeholder="Anonymous" style="width: 244px">
		</td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td><input
        type="text"
        autocomplete="none"
        class="postingInput"
        id="fieldEmail"
        name="email" style="width: 244px"></td>
  </tr>
  <tr id="divOptions">
    <th>Options</th>
    <td>
      <span id="useSageSpan">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
		  name="sage"
          id="doSageCheckbox">
        <label for="doSageCheckbox"></label>
      </span>
      <span id="useFortuneSpan">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
		  name="fortune"
          id="doFortuneCheckbox">
        <label for="doFortuneCheckbox"></label>
      </span>
      <span class="hidden" id="alwaysUseBypassSpan">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="alwaysUseBypassCheckBox">
        <label for="alwaysUseBypassCheckBox"></label>
      </span>
    </td>
  </tr>
<label>
  <tr>
    <th>Subject</th>
    <td><input
        type="text"
        autocomplete="none"
        class="postingInput"
        id="fieldSubject"
        name="subject" style="width: 244px"><span class="mobileHide" style="margin-left:5px"><input type="submit" id="formButton" value="Submit"></span>
      <input
        name="boardUri"
        id="boardIdentifier"
        type="hidden"
        tabindex="-3" /></td>
  </tr>
</label>
<tr>
  <th>Comment</th>
  <td>
    <textarea
      rows="5"
      cols="35"
      class="postingInput"
      id="fieldMessage"
      name="message"></textarea>

    <p class="small">
      Max comment length: <span id="labelMessageLength"></span>
    </p>
    <details class="small">
      <summary class="glowOnHover">Emotes</summary>
	  <p></p>
        <p>
		<button type="button"><img src="/.static/emotes/angry.gif" width="40"><p>:angry:</p></button>
        <button type="button"><img src="/.static/emotes/annoyed.png" width="40"><p>:annoyed:</p></button>
        <button type="button"><img src="/.static/emotes/annoyed2.png" width="40"><p>:annoyed2:</p></button>
        <button type="button"><img src="/.static/emotes/cry.gif" width="40"><p>:cry:</p></button>
        <button type="button"><img src="/.static/emotes/down.gif" width="40"><p>:down:</p></button>
        <button type="button"><img src="/.static/emotes/happy.png" width="40"><p>:happy:</p></button></p>
        <p><button type="button"><img src="/.static/emotes/happy2.png" width="40"><p>:happy2:</p></button>
        <button type="button"><img src="/.static/emotes/happy3.png" width="40"><p>:surprised:</p></button>
        <button type="button"><img src="/.static/emotes/neco.png" width="40"><p>:neco:</p></button>
        <button type="button"><img src="/.static/emotes/nya.png" width="40"><p>:nya:</p></button>
        <button type="button"><img src="/.static/emotes/snicker.gif" width="40"><p>:snicker:</p></button>
        <button type="button"><img src="/.static/emotes/vengence.gif" width="40"><p>:vengence:</p></button></p>
		<p><button type="button"><img src="/.static/emotes/sleep.png" width="40"><p>:sleep:</p></button>
		<button type="button"><img src="/.static/emotes/laugh.gif" width="40"><p>:laugh:</p></button>
		<button type="button"><img src="/.static/emotes/drool.gif" width="40"><p>:drool:</p></button>
		<button type="button"><img src="/.static/emotes/disgust.png" width="40"><p>:disgust:</p></button>
		<button type="button"><img src="/.static/emotes/neco.gif" width="40"><p>:neco_arc:</p></button>
		<button type="button"><img src="/.static/emotes/neco_dance.gif" width="40"><p>:neco_dance:</p></button></p>
		<p><button type="button"><img src="/.static/emotes/neco_dance2.gif" width="40"><p>:neco_dance2:</p></button>
		</p>
	</details>
    <details class="small">
      <summary class="glowOnHover">Styling</summary>
	  <p></p>
        <p><button type="button"><span><strong>Bold</strong></span><p>[b] [/b]</p></button>
		<button type="button"><span><em>Italics</em></span><p>[i] [/i]</p></button>
		<button type="button"><span><s>Strike</s></span><p>[s] [/s]</p></button>
		<button type="button"><span class="spoiler">Spoiler</span><p>[spoiler] [/spoiler]</p></button>
		<button type="button"><span class="moeText">Moe</span><p>[moe] [/moe]</p></button></p>
		<p><button type="button"><span class="doomText">DOOM</span><p>[doom] [/doom]</p></button>
		</p>
		<p><button type="button"><span class="s1">Size 1</span><p>[s1] [/s1]</p></button>
		<button type="button"><span class="s2">Size 2</span><p>[s2] [/s2]</p></button>
		<button type="button"><span class="s3">Size 3</span><p>[s3] [/s3]</p></button>
		<button type="button"><span class="s4">Size 4</span><p>[s4] [/s4]</p></button></p>
		<p><button type="button"><span class="s5">Size 5</span><p>[s5] [/s5]</p></button>
		<button type="button"><span class="s6">Size 6</span><p>[s6] [/s6]</p></button>
		<button type="button"><span class="s7">Size 7</span><p>[s7] [/s7]</p></button></p>
		<p><button type="button"><span class="c1">Red</span><p>[red] [/red]</p></button>
		<button type="button"><span class="c2">Orange</span><p>[orange] [/orange]</p></button>
		<button type="button"><span class="c3">Brown</span><p>[brown] [/brown]</p></button>
		<button type="button"><span class="c4">Purple</span><p>[purple] [/purple]</p></button></p>
		<p><button type="button"><span class="c5">Pink</span><p>[pink] [/pink]</p></button>
		<button type="button"><span class="c6">Yellow</span><p>[yellow] [/yellow]</p></button>
		<button type="button"><span class="c7">Green</span><p>[green] [/green]</p></button>
		<button type="button"><span class="c8">Blue</span><p>[blue] [/blue]</p></button></p>
		<p><button type="button"><span class="c9">Light Blue</span><p>[lightblue] [/lightblue]</p></button>
		<button type="button"><span class="powerful">Rainbow</span><p>[rainbow] [/rainbow]</p></button></p>
	</details>
  </td>
</tr>
<tr id="divUpload">
    <th>Files</th>
    <td>
      <div class="hidden" id="dragAndDropDiv">
        <div class="dropzone" id="dropzone" style="width: 300px">
          Drag files to upload or
          <br>
          click here to select them
        </div>
        <div id="selectedDiv"></div>
      </div>

      <div>
        <input type="file" name="files" id="inputFiles" multiple="" class="fileBrowser" accept="image/png, image/jpeg, image/gif, image/bmp, video/webm, audio/mpeg, video/mp4, video/ogg, audio/ogg, audio/webm, text/javascript, application/javascript, application/x-shockwave-flash, application/vnd.adobe.flash.movie">
      </div>
      <input type="checkbox" name="spoiler" class="postingCheckbox" id="checkboxSpoiler"> <label for="checkboxSpoiler"></label>
      <label id="labelScramble" for="checkboxScramble"></label>
		<p class="small" style="visibility: hidden;height: 0px;">
        Supported file types: GIF, JPG, PNG, WebM, OGG, SWF
      </p>
    </td>
  </tr>
  <tr>
    <th>Password</th>
    <td><input
        id="fieldPostingPassword"
        name="password"
        class="postingInput"
        type="password">
      <span style="font-size: 60%;"> (Password used for deletion)</span></td>
  </tr>
  <tr id="captchaDiv">

    <th>Captcha</th>
    <td><img
      class="captchaImage"
      src="/captcha.js" />

      <div class="subCaptchaDiv">
        <input
          type="button"
          value="Reload"
          class="hidden reloadCaptchaButton">
        <span class="captchaTimer"></span>
        <br>

        <input
          name="captcha"
          type="text"
          autocomplete="none"
          class="captchaField postingInput"
          id="fieldCaptcha"
          placeholder="answer">

        <a
          href="/noCookieCaptcha.js"
          class="small"
          id="noCookiesLink">no cookies?</a>

      </div></td>
  </tr>

</tbody> </table>

<div id="selected-cell-template" class="hidden">
  <a class="removeButton coloredIcon"></a>
  <span class="nameLabel"></span>
  <br>
  <label class="spoilerPanel">
    <input type="checkbox" class="spoilerCheckBox">
    Spoiler
  </label>
</div>
<script src="/.static/js/emotes.js"></script>