<!--can't be nested in another form, so it has to come after moderation forms-->
<form
  action="/replyThread.js"
  enctype="multipart/form-data"
  method="post">

 <input type="text"
	    id="qr_prevent_autofill_uname"
	    class="hidden"
	    autocomplete="off"
	    tabindex="-1" />
 <input type="password"
        id="qr_prevent_autofill_pwd"
   	    class="hidden"
        autocomplete="off"
        tabindex="-2" />

<table><tbody>
	<tr><th class="handle">
		Quick Reply
		<a class="close-btn coloredIcon"></a>
    </th> </tr>

    <tr id="qr-name-row" class="hidden"><td>
		<input id="qrname" type="text" maxlength="35" name="name"
			autocomplete="none" placeholder="Name">
	</td></tr>

	<tr><td>
		<input id="qrsubject" type="text" maxlength="100" name="subject"
			autocomplete="none" placeholder="Subject">
	</td></tr>

	<tr><td>
		<input type="checkbox" name="sage"
			id="qrdoSageCheckbox" class="postingCheckbox">
		<label for="qrdoSageCheckbox" class="spoilerCheckbox">
			Sage
		</label>
		<input type="checkbox" name="fortune"
			id="qrdofortuneCheckbox" class="postingCheckbox">
		<label for="qrdofortuneCheckbox" class="spoilerCheckbox">
			Fortune
		</label>
		<input type="checkbox" id="qralwaysUseBypassCheckBox" class="postingCheckbox">
		<label for="qralwaysUseBypassCheckBox" class="spoilerCheckbox">
			Bypass Check
		</label>
	</td></tr>

	<tr><td>
		<textarea id="qrbody" rows="5" placeholder="Comment"></textarea>
	</td></tr>
</tbody> 
</table>

    <details class="small">
      <summary class="glowOnHover">Emotes</summary>
	  <p></p>
        <p><button type="button"><img src="/.static/emotes/angry.gif" width="40"><p>:angry:</p></button>
        <button type="button"><img src="/.static/emotes/annoyed.png" width="40"><p>:annoyed:</p></button>
        <button type="button"><img src="/.static/emotes/annoyed2.png" width="40"><p>:annoyed2:</p></button>
        <button type="button"><img src="/.static/emotes/cry.gif" width="40"><p>:cry:</p></button>
        <button type="button"><img src="/.static/emotes/down.gif" width="40"><p>:down:</p></button></p>
        <p><button type="button"><img src="/.static/emotes/happy.png" width="40"><p>:happy:</p></button>
        <button type="button"><img src="/.static/emotes/happy2.png" width="40"><p>:happy2:</p></button>
        <button type="button"><img src="/.static/emotes/happy3.png" width="40"><p>:surprised:</p></button>
        <button type="button"><img src="/.static/emotes/neco.png" width="40"><p>:neco:</p></button>
        <button type="button"><img src="/.static/emotes/nya.png" width="40"><p>:nya:</p></button></p>
        <p><button type="button"><img src="/.static/emotes/snicker.gif" width="40"><p>:snicker:</p></button>
        <button type="button"><img src="/.static/emotes/vengence.gif" width="40"><p>:vengence:</p></button>
		<button type="button"><img src="/.static/emotes/sleep.png" width="40"><p>:sleep:</p></button>
		<button type="button"><img src="/.static/emotes/laugh.gif" width="40"><p>:laugh:</p></button>
		<button type="button"><img src="/.static/emotes/drool.gif" width="40"><p>:drool:</p></button></p>
		<p><button type="button"><img src="/.static/emotes/disgust.png" width="40"><p>:disgust:</p></button></p>
	</details>
    <details class="small">
      <summary class="glowOnHover">Styling</summary>
	  <p></p>
        <p><button type="button"><span><strong>Bold</strong></span><p>[b] [/b]</p></button>
		<button type="button"><span><em>Italics</em></span><p>[i] [/i]</p></button>
		<button type="button"><span><s>Strike</s></span><p>[s] [/s]</p></button>
		<button type="button"><span class="spoiler">Spoiler</span><p>[spoiler] [/spoiler]</p></button></p>
		<p><button type="button"><span class="s1">Size 1</span><p>[s1] [/s1]</p></button>
		<button type="button"><span class="s2">Size 2</span><p>[s2] [/s2]</p></button>
		<button type="button"><span class="s3">Size 3</span><p>[s3] [/s3]</p></button>
		<button type="button"><span class="s4">Size 4</span><p>[s4] [/s4]</p></button></p>
		<p><button type="button"><span class="s5">Size 5</span><p>[s5] [/s5]</p></button>
		<button type="button"><span class="s6">Size 6</span><p>[s6] [/s6]</p></button>
		<button type="button"><span class="s7">Size 7</span><p>[s7] [/s7]</p></button></p>
		<p><button type="button"><span class="c1">Red</span><p>[red] [/red]</p></button>
		<button type="button"><span class="c2">Orange</span><p>[orange] [/orange]</p></button></p>
		<p><button type="button"><span class="c3">Brown</span><p>[brown] [/brown]</p></button>
		<button type="button"><span class="c4">Purple</span><p>[purple] [/purple]</p></button></p>
		<p><button type="button"><span class="c5">Pink</span><p>[pink] [/pink]</p></button>
		<button type="button"><span class="c6">Yellow</span><p>[yellow] [/yellow]</p></button></p>
		<p><button type="button"><span class="c7">Green</span><p>[green] [/green]</p></button>
		<button type="button"><span class="c8">Blue</span><p>[blue] [/blue]</p></button></p>
		<p><button type="button"><span class="c9">Light Blue</span><p>[lightblue] [/lightblue]</p></button>
		<button type="button"><span class="powerful">Rainbow</span><p>[rainbow] [/rainbow]</p></button></p>
	</details>
<details open id="qrFilesBody" class="hidden">
<summary id="qrFilesButton" class="glowOnHover"> </summary>
<table></tbody>

	<tr><td>
		<div class="dropzone" id="dropzoneQr">
			Drag files to upload or <br>
			click here to select them
		</div>
		<div id="selectedDivQr"></div>
	</td></tr>

    <tr><td class="centered">
		<input type="checkbox" id="qrcheckboxSpoiler" name="spoiler" class="postingCheckbox">
		<label for="qrcheckboxSpoiler"> </label>
		<input type="checkbox" id="qrcheckboxScramble" class="postingCheckbox">
		<label for="qrcheckboxScramble"> </label>
	</td></tr>

</tbody></table>
</details>

<details open class="hidden" id="captchaBody">
<summary id="qrCaptchaButton" class="glowOnHover"></summary>
<table><tbody>

    <tr><td colspan="2">
		<img id="qr-captcha-image" class="captchaImage"/>
	</td></tr>

	<tr><td colspan="2">
		<a href="/noCookieCaptcha.js" target="_blank" class="small">
			No cookies?
		</a>
	</td></tr>

    <tr><td>
		<input name="captcha" type="text" class="captchaField" id="QRfieldCaptcha" placeholder="Answer">
	</td><td>
		<input type="button" class="reloadCaptchaButton" value="Reload">
		<span class="captchaTimer">0</span>
	</td></tr>

</tbody> </table>
</details>

<details class="postingFormExtra">
<summary class="glowOnHover"></summary>
<table><tbody>

	<tr><td>
		<input id="qremail" type="text" maxlength="40" autocomplete="none" name="email" placeholder="Email">
	</td></tr>

	<tr><td>
		<input id="qrpassword" name="password" type="password" placeholder="Password">
	</td></tr>

    <tr id="qr-flags-row" class="hidden"><td>
		<div id="qrFlagsDiv"></div>
	</td></tr>

    <tr id="qr-flags-check-row" class="hidden"><td class="centered">
		<input type="checkbox" id="qrcheckboxNoFlag" class="postingCheckbox" name="noflag">
		<label for="qrcheckboxNoFlag" class="spoilerCheckbox">
    		Don't show location
		</label>
	</td>
</tbody></table>
</details>

<table><tbody>
<tr><td class="centered">
	<input accesskey="s" id="qrbutton" type="submit" value="Reply">
</td></tr>
</tbody></table>

</form>