<style>
.box-min-title3 {
  font-size: 100%;
}
</style>

<div class="box-min-title3"><strong>Global Rules</strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px"><p>
		The content posted by users here do not reflect the views or opinions of anyone running the site. These rules should be common sense, but if for whatever reason, you violate any of them, you may be restricted from posting. If you think your ban wasn't deserved, <a href="/contact">tell me</a>.</p>
		<ul>
		<p style="margin-bottom: 15px;">1.) Lurk before posting. If you're new here, it's recommended to get a good idea of what the community is like before posting.</p>
		<p style="margin-bottom: 15px;">2. You must be 18 years of age or older to browse this website. If you are over 18, do not act like you are under 18.</p>
		<p style="margin-bottom: 15px;">3. You will not upload, post, receive, or transmit content that violates local or United States law.</p>
		<p style="margin-bottom: 15px;">4. Any media that depicts the sexual abuse of children is explicitly forbidden. (This includes any jailbait/borderline content. Even if fictional, realistic/3DCG depictions)</p>
		<p style="margin-bottom: 15px;">5. Post threads and images in the appropriate boards.</p>
		<p style="margin-bottom: 15px;">6. Ecchi is allowed, but any showings of <span style="background-color: rgb(166,238,141); color: rgb(18,0,21);">PENIS</span> or <span style="background-color: rgb(65,236,48); color: rgb(251,93,168);">VAGINA</span> will be either deleted or spoilered.</p>
		<p style="margin-bottom: 15px;">7. Posts with gore will be deleted, and will earn you a ban.</p>
		<p style="margin-bottom: 15px;">8. Buzzwords and most nu-internet slang will probably be filtered or deleted.</p>
		<p style="margin-bottom: 15px;">9. NO raids, politics, AI art, useless posts, pepes, and wojacks.</p>
		<p style="margin-bottom: 15px;">10. The most important rule: Keep it comfy!</p>
		<p style="margin-bottom: 15px;">(Don't start flamewars. Take it easy! Know when a joke is taken too far)</p>
		</ul>
</div>
<div class="box-min-title3"><strong>/en/ - General Image board</strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
		<ul>
		<p style="margin-bottom: 15px;">This is the main board where anything can happen... (All global rules still apply, and you must speak in engrish)</p>
		</ul>
</div>

<div class="box-min-title3"><strong>/f/ - Flash Upload board</strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
		<ul>
		<p style="margin-bottom: 15px;">Currently the only board where erotic content is allowed. Anything suspicious will be banned.</p>
		<p style="margin-bottom: 15px;">(I recommend you put details in the subject line)</p>
		</ul>
</div>

<div class="box-min-title3"><strong>/i/ - Oekaki Drawing board</strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
		<ul>
		<p style="margin-bottom: 15px;">Only post drawings you make</p>
		</ul>
</div>

<div class="box-min-title3"><strong>/h3/ - hikari3 Discussion & Questions board</strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
		<ul>
		<p style="margin-bottom: 15px;">Only post questions, suggestions, or anything about the site.</p>
		</ul>
</div>

<div class="box-min-title3"><strong>/jp/ - Otaku Culture Image board</strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
		<ul>
		<p style="margin-bottom: 15px;">1. All images and discussions must be related to anime, manga, or Japanese culture.</p>
		<p style="margin-bottom: 15px;">2. Don't delibrerately spoil any series'.</p>
		<p style="margin-bottom: 15px;">3. Disrespect towards Japanese culture is not allowed.</p>
		</ul>
</div>

<div class="box-min-title3"><strong>/t/ - Technology Image board</strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
		<ul>
		<p style="margin-bottom: 15px;">1. This board is for general discussion on the topic of technology. For more theoretical matters post in <a href="/aca/">/aca/</a></p>
		<p style="margin-bottom: 15px;">2. Let's all love Lain.</p>
		</ul>
</div>

<div class="box-min-title3"><strong>/v/ - Video Games Image board</strong></div>
<div style="margin-left: 15px; margin-top: 10px; margin-bottom: 20px">
		<ul>
		<p style="margin-bottom: 15px;">1. Posts must be relevant to video games</p>
		<p style="margin-bottom: 15px;">2. Spoil any spoiler files (duh)</p>
		</ul>
</div>