<a href="/"><img src="/.static/nav.png" width="210"></a><br>
<fieldset class="box-min" style="
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
">
<div class="box-min-title">Navigation <button id="overrideButton"><<</button></div>
<div class="box-content2">
<a href="/"
class="coloredIcon navLinkHome"
title="Home"></a><br>
<a
href="/overboard"
class="coloredIcon linkOverboard"
title="Overboard"></a><br>
<a
class="coloredIcon settingsButton"
title="Settings (requires JavaScript)"></a><br>
<a
class="coloredIcon watcherButton"
title="Thread Watcher (requires JavaScript)"></a><br>
<p></p><a id="themesBefore"></a>
</div>
</fieldset>

<fieldset class="box-min" style="
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
">
<div class="box-min-title">Board Navigation</div>
<div class="box-content2">
<a
href="#"
class="coloredIcon"
title="Top"
id="linkTop"></a><br>
<a
href="#footer"
class="coloredIcon"
title="Bottom"
id="linkBottom"></a><br>
<a
href="catalog.html"
class="navCatalog hideMobile coloredIcon"
title="Catalog"></a><br>
<a
href="index.rss"
class="linkRss hideMobile coloredIcon"
title="RSS"></a>
</div>
</fieldset>

<fieldset class="box-min" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
<div class="box-min-title">Image Boards</div>
<div class="box-content2">
<p><a href="/aca/">/aca/ - Academic Topics</a></p>
<p><a href="/en/">/en/ - General</a></p>
<p><a href="/h3/">/h3/ - Site Meta</a></p>
<p><a href="/jp/">/jp/ - Otaku Culture</a></p>
<p><a href="/t/">/t/ - Technology</a></p>
<p><a href="/v/">/v/ - Video Games</a></p>
</div>
</fieldset>

<fieldset class="box-min" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
<div class="box-min-title">Upload Boards</div>
<div class="box-content2">
<p><a href="/f/">/f/ - Flash</a></p>
</div>
</fieldset>

<fieldset class="box-min" style="
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
">
<div class="box-min-title">Contact</div>
<div class="box-content2">
<p><a href="mailto:syrno@hikari3.ch">syrno@hikari3.ch</a></p>
</div>
</fieldset>

<fieldset class="box-min" style="
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
">
<div class="box-min-title">Community</div>
<div class="box-content2">
<p><a href="irc://irc.rizon.net/hikari3" target="_blank">#hikari3 @ irc.rizon.net</a></p>
<p><a href="https://discord.gg/XfpsgeTmum" target="_blank">Discord (Post Notifs)</a></p>
<p><a href="/links">Friends</a></p>
</div>
</fieldset>

<hr>

<fieldset class="box-min" style="
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
">
<div class="box-content2">
<p><strong><u>Warning:</u></strong> Some of these boards may contain suggestive &amp;/or NSFW content. Browse at your own discretion.</p>
<br>
<p>Make sure to read the <a href="/rules" target="main">rules</a> before posting.
</p></div>
</fieldset>
<script src="/.static/js/sidebar.js"></script>