/* digi lynx */
@import "./syntax/obsidian.css";

@font-face {
  font-family: pc-9800;
  src: url('/.static/css/fonts/sonic3_plaza.ttf');
}

:root {
  --background-color: #f6f6f6;
  --background-gradient: #eef2ff;
  --text-color: black;
  --contrast-color: #f6f6f6;
  --menu-color: #f6f6f6;
  --background-highlight-color: black;
  --horizon-sep-color: black;
  --border-color: black;
  
  --marked-color: transparent;
  --marked-border-color: #ba9dbf;
  --marked-text-color: var(--text-color);

  --board-title-color: #ffdc1d;
  --index-text-color: #000333;
  
  --link-color: black;
  --link-hover-color: #d00;
  
  --navbar-text-color: #89a;
  --table-every-other-color: #e0e5f6;
  --subject-color: #0f0c5d;
  
  --thread-navbar-background: black;
  --thread-navbar-color: aliceblue;
}

body {
    font-family: pc-9800;
    background-repeat: repeat;
    background-image: url('/.static/css/digi-bg.png');
    background-size: cover;
    background-attachment: fixed;
}

.footerDisclaimer {
    margin-bottom: 6pt;
    text-shadow: 1px 1px white;
    -webkit-text-stroke: 1px;
}

nav {
    background-color: #181819;
    border-bottom: 1px solid var(--navbar-text-color);
    text-align: left;
    font-size: 75%;
}

nav span:not(#navLinkSpan) > * {
    vertical-align: -2px;
    color: white;
    font-family: 'GOTHIC';
}

#themeSelector {
    border-radius: 10px;
}

nav .coloredIcon, .opHead .coloredIcon {
    color: #6c6c6c;
}

h3, p, label {
    margin: 0.25em 0;
    -webkit-text-stroke: 1px;
    text-shadow: 1px 1px white;
}

hr {
    border-top: 5px double #000000;
}

a, .glowOnHover {
    text-shadow: 1px 1px 2px #ffffff;
    font-family: 'Neue87';
}

input, select, textarea, button,
.dropzone, .selectedCell {
	font-family: revert;
}

#postingForm input[type='text'], #postingForm textarea {
    width: calc(100% - 7px);
    font-family: 'GOTHIC';
    -webkit-text-stroke: 1px;
}

input[type="button"], input[type="submit"], button,
.dropzone, .selectedCell {
    border: 3px double white;
    background: #000000;
    color: white;
}

#postingForm button, #qrbutton {
    width: 8em;
    margin: 0.5em auto;
    font-size: 125%;
    font-family: 'plaza';
}

#postingForm th, .modalTableBody th, #quick-reply th,
fieldset legend {
    border: 3px double white;
    color: white;
}

.topBoards a,
.innerPost,
.sideCatalogCell,
.sideCatalogMarkedCell,
.divPages {
    background: url('../sonic3_post.png');
    background-size: auto;
    background-repeat: repeat;
    background-position-y: bottom;
    background-color: #f6f6f6;
}

.catalogCell {
    border-width: 3px;
    background: #c3c3c3;
}

.floatingMenu, #quick-reply, .modalDecorationPanel {
    border-width: 3px;
}

.boardHeader p#labelName {
    font-size: 275%;
    display: inline-block;
    font-family: NiseSegaSonic;
    -webkit-text-stroke: 3px #012586;
    text-shadow: 1px 1px 3px white;
}

.boardHeader p#labelDescription {
    font-size: 200%;
    color: red;
    font-family: Neue87;
    text-shadow: 1px 1px 4px white;
    text-transform: uppercase;
}

.threadPages #boardContentLinks {
    font-size: inherit;
    margin-top: 5px ;
}

#boardContentLinks, #divTools, .threadPages, .innerUtility {
	margin-top: 0;
	font-size: 85%;
}

#dynamicAnnouncement {
    text-shadow: 1px 1px 0px white;
    -webkit-text-stroke: 1px;
}

#divMessage {
    text-align: center;
    white-space: pre-wrap;
    font-family: plaza;
    color: black;
    font-size: 32px;
    -webkit-text-stroke: 1px;
    text-shadow: 1px 1px 0px white;
}

.innerUtility.top {
  font-family: 'plaza';
  font-size: large;
}

.innerOP {
    border-right: 3px double black;
    border-left: 3px double black;
    border-width: thick;
    border-bottom: 3px dotted #000000;
    box-shadow: rgb(224 224 0) 0px 2px 0px 7px;
    backdrop-filter: brightness(1.2) blur(3px);
    width: fit-content;
}

.originalNameLink {
    vertical-align: top;
    color: #c70021;
    font-family: 'GOTHIC';
}

.uploadCell img {
    border: 3px solid #202020;
}

.postInfo, .opHead, .divMessage {
    font-size: 16px;
    -webkit-text-stroke: 1px;
}

.labelSubject {
  color: #ffffff;
  background: black;
  font-family: 'plaza';
  font-weight: 100;
  font-size: 26px;
}

.noEmailName,
.noEmailName:hover {
  color: #c70021;
  font-family: 'GOTHIC';
  font-weight: 600;
  text-shadow: 1px 1px black;
}

.labelLastEdit {
    font-size: 100%;
    margin-top: 0.75em;
    margin-left: 0.75em;
    font-family: fasthud;
    text-transform: lowercase;
}

.linkQuote {
    color: #fb0000;
    text-decoration: none;
    font-family: 'fasthud';
    text-shadow: 1px 1px 3px black;
    font-size: 16px;
}

.labelOmission {
    margin-top: 0.5em;
    margin-left: 0.5em;
    text-shadow: 1px 1px white;
    font-variant: small-caps;
}

.innerPost, .divPages, .reportFieldset, .sideCatalogCell,
.quoteTooltip .innerPost {
    border: 4px solid #000000;
    border-bottom: 11px inset black;
    margin: 10px 0;
}

.quoteLink {
    color: #ff0000;
    font-family: 'GOTHIC';
}

.panelBacklinks a, .quoteLink {
    text-decoration-style: wavy;
}

.pinkText {
  color: #0b17d5;
}

.greenText {
  color: #0b3a1b;
}

.doomText {
    color: #ffffff;
    -webkit-text-stroke: 3px #0060aa;
    font-family: SEGA;
    font-size: 32PX;
}

.postCell:target .innerPost, .markedPost, .sideCatalogMarkedCell {
    border: 4px dashed #000000;
}
